body {
  font-family: Arial;
  background: #111;
  color: white;
  text-align: center;
  margin: 0;
}

/* CONTAINER */
.container {
  padding: 15px;
  max-width: 1200px;
  margin: auto;
}

/* HEADING */
h1 {
  margin-top: 20px;
}

h1 span {
  color: red;
}

/* INPUT and SEARCH */
input {
  padding: 10px;
  width: 60%;
  max-width: 300px;
  border-radius: 5px;
  border: none;
  margin-bottom: 10px;
}

/* BUTTONS */
button {
  padding: 8px 12px;
  margin: 5px;
  cursor: pointer;
  background: #333;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background: rgb(143, 121, 121);
}

/* SONG GRID */
#songs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 15px;
  padding: 10px;
}

/* CARD */
.card {
  background: #222;
  padding: 10px;
  border-radius: 10px;
  width: 100%; /* IMPORTANT */
  box-sizing: border-box;
}

.card img {
  width: 100%;
  border-radius: 8px;
}

audio {
  width: 100%;
  margin-top: 5px;
}

/* BUTTON ROW */
.btns {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

/* YOUTUBE BUTTON */
.btns a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background: rgb(142, 122, 122);
  color: white;
  padding: 6px 10px;
  border-radius: 5px;
}

.btns a:hover {
  box-shadow: 0 0 8px red;
  transition: 0.3s;
}

/* RESPONSIV */
@media (max-width: 600px) {
  input {
    width: 90%;
  }

  button {
    width: 90%;
    margin: 5px auto;
    display: block;
  }

  .btns {
    flex-direction: column;
    gap: 5px;
  }

  .btns a {
    width: 100%;
  }
}
